<!DOCTYPE html>
<html>
<head>
	<title>Cloud Foundry Web Demo Application</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<!-- page contents -->
	<div class="w3-content w3-padding" style="max-width:1500px">
		<h1>Cloud Foundry web server demo</h1>
		<p>This is a demo of a web server implemented with Flask and running under Cloud Foundry</p>
		<p>This is instance <b>{{ instance_number }}</b></p>
		<p>Programmed by Naubert</p>
	</div>

	<!-- footer -->
	<footer class="w3-center w3-black w3-pading-16">
		<p>Powered by <b class="w3-red">Cloud Foundry</b> and <b class="w3-red">Flask</b></p>
	</footer>
</body>
</html>
